
@{
    ViewBag.Title = "ConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmRegistration</h2>

<p>Your registration has been confirmed.</p>
<p>You can now login and create Kits of equipment and be kept up to date on items that are due for replacement</p>



