@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site is for those who want to have a plan in place if things go temporarily awry</p>

<p>Do you know what you'll do or what you have to hand if:</p>
<li>There's a power cut</li>
<li>The water supply goes off for a few days</li>
<li>You get stuck at work</li>
<li>You car breaks down and there's no phone signal</li>
<br/>
<p>This site is geared for helping you put a few in place for when life decides to have a little laugh at your expense.</p>

<p>Remember, if you're a little prepared you're better able to help others too.</p>
