
@{
    ViewBag.Title = "GHB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GHB</h2>

<p>The Get Home Bag is nothing more than a collection of items you've put together to get you out of a jam.  
    They're all together in a convenient pack and easily to hand</p>

<p>We'll help you put togther you own GHBs and keep track of any perishable items <a href="/Kit/Index">here</a></p>

