
@{
    ViewBag.Title = "LBP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LBP</h2>

<p>Being a Laid Back Prepper means you know what you'll do <i>before</i> it happens and you know what's 
    available to you</p>

<p>Knowing you have clean water if the supply gets temporarily contaminated.  Knowing how many day's worth of food you
    have if people start panic buying at the supermarkets for no reason...  <i>Again</i>.</p>

<p>Knowing you can produce hot meals and have light if there's a power cut</p>

<p>Small amounts of preperation can make life alot easier for everyone just when you need it.  :)</p>

