
@{
    ViewBag.Title = "Stores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stores</h2>

<p>How you organise and plan your larder can offer you alot of resilience if it becomes difficult or undesirable
    to go to the shops.  This could be because of snow, flooding or panic buying - anything</p>

<p>If you want to keep a store of food for emergencies this site will help you keep track of Best Before Dates to
    make sure everything is ready when it's needed.  However, a better plan is Store What You Eat Eat What You Store</p>

<h3>Store What You Eat Eat What You Store</h3>
<p>This means store more than you normally would of the things you like to eat and rotate them so nothing goes out of date.
    E.g. Instead of have four tins of tomatoes in the cupboard have a dozen.  Obviously this requires more space, but there
    are storeage solutions which can help</p>

